container
  spacer(size="16")
  div.content
    center
      img.logo(src="https://s3-us-west-1.amazonaws.com/sdhacks2017-production/assets/logo.png")
    row
      center
        columns
          h1 Hello Future Teammate!
          p.body Exciting news! #{user.firstName} #{user.lastName} submitted an application 
            | to SD Hacks 2017 and invited you to come along as their teammate! 
            | Click the link below to fill out an application of your own: 
            | Include the email #{user.email} in one of the desired teammate 
            | fields if you would also like #{user.firstName} on your team.
        
            a(href=applyUrl)
              img.button(src="https://s3-us-west-1.amazonaws.com/sdhacks2017-production/assets/email-refer-button.png")
            p.refer-text If that link doesn’t work, copy paste this into your browser:
            a.refer-link(href=applyUrl) #{applyUrl}
