//- Homepage
extends ../layouts/home

//- Any mixins
include ../mixins/get-updates


block content
  - volunteerUrl = 'https://tesc.typeform.com/to/PYPjRK'
  - sponsorUrl = 'mailto://tesc.ucsd.edu'

    nav.sd-nav
      .sd-nav__background
      .container.sd-container
        .sd-nav__left.sd-nav__side
          a(href="/").sd-nav__logo-wrap.sd-nav__logo-up
            img.sd-nav__logo(src="/assets/img/vectors/logo.svg")
        .sd-nav__right.hidden-sm-down
          ul.sd-inline-list.sd-nav__links
            a(href="/apply")
              li Apply
            a(href="/user/login")
              li Login
            a(href=volunteerUrl)
              li Volunteer
            a(href=sponsorUrl)
              li Sponsor
            a(href="http://2016.sdhacks.io")
              li 2016 Site
        a.mobile-link.hidden-sm-up.sd-nav__mobile-link
          span.mobile-hamburger
          .navigation.nav-right.sd-nav__mobile
            ul
              li
                a.sd-nav__mobile-link(href="/") Home
              li
                a.sd-nav__mobile-link(href="/apply") Apply
              li
                a.sd-nav__mobile-link(href="/user/login") Login
              li
                a.sd-nav__mobile-link(href=volunteerUrl) Volunteer
              li
                a.sd-nav__mobile-link(href=sponsorUrl) Sponsor
              li
                a.sd-nav__mobile-link(href="http://2016.sdhacks.io") 2016 Site
  .hexagon-hero__background
    .hexagon-hero__water
    .hexagon-hero__beach
  .hexagon-hero.d-flex
    .hexagon-hero__container.container.align-self-center
      .d-none.d-md-block
        .row
          .col-md-8
            img.hexagon-hero__logo(src='/assets/img/vectors/logo.svg')
            .hexagon-hero__text
              h1.hexagon-hero__title Build your dreams.
              .hexagon-hero__subtitle Rimac Arena, UC San Diego
              .hexagon-hero__subtitle October 20-22, 2017
              .hexagon-hero__nav
                //- +get-updates
                a.btn.rounded-button.hexagon-hero__nav-button(href='/apply') Apply
                a.btn.rounded-button.rounded-button--secondary.hexagon-hero__nav-button(href='/user/login') Login
              .hexagon-hero__nav.hexagon-hero__nav--secondary
                a.btn.rounded-button.rounded-button--alternate.hexagon-hero__nav-button(href=volunteerUrl) Volunteer
          .col-md-4
            img.hexagon-hero__featurette(src='/assets/img/site/featurette-hero.svg')

      .d-md-none.d-flex.flex-column
        img.hexagon-hero__logo.hexagon-hero__logo--mobile(src='/assets/img/vectors/logo.svg')
        h1.hexagon-hero__title Build your dreams.
        .hexagon-hero__subtitle.hexagon-hero__subtitle--mobile RIMAC Arena, UCSD
        .hexagon-hero__subtitle.hexagon-hero__subtitle--mobile October 20-22, 2017
        .hexagon-hero__nav.hexagon-hero__nav--mobile
          //- +get-updates
          a.btn.rounded-button.hexagon-hero__nav-button(href='/apply') Apply
          a.btn.rounded-button.rounded-button--secondary.hexagon-hero__nav-button(href='/user/login') Login
          a.btn.rounded-button.rounded-button--alternate.hexagon-hero__nav-button(href=volunteerUrl) Volunteer

  .sd-section.sd-about#sd-about
    .sd-about__background
    h2.sd-about__title.sd-section__title SD Hacks is About
    .container
      .row.row-eq-height
        .col-lg-4.sd-card__wrapper
          .card.sd-card
            .card-body.sd-card__block.sd-card__about
              .card-img.text-center.sd-card__img.sd-card__img-inclusivity
                img(src='/assets/img/site/featurette-inclusivity.svg')
              h3.card-title.sd-card__title.text-center Empowerment
              .card-text.sd-card__text-featurette.sd-card__text We provide all hackers with expertise, hardware and software so they can build their dreams.
        .col-lg-4.sd-card__wrapper
          .card.sd-card
            .card-body.sd-card__block.sd-card__about
              .card-img.text-center.sd-card__img.sd-card__img-collaboration
                img(src='/assets/img/site/featurette-collaboration.svg')
              h3.card-title.sd-card__title.text-center Collaboration
              .card-text.sd-card__text-featurette.sd-card__text We’re all here as fellow mentors, 4am-ers, and friends.
        .col-lg-4.sd-card__wrapper
          .card.sd-card
            .card-body.sd-card__block.sd-card__about
              .card-img.text-center.sd-card__img.sd-card__img-novelty
                img(src='/assets/img/site/featurette-novelty.svg')
              h3.card-title.sd-card__title.text-center Innovation
              .card-text.sd-card__text-featurette.sd-card__text We strive to make each SD Hacks a memorable learning experience for all.

  .sd-section.sd-faq#sd-faq
    .sd-faq__background.d-md-none
    h2.sd-faq__title.sd-section__title FAQ
    .container
      .row
        .col-md-6
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title What is a hackathon?
                .card-text.sd-card__text A hackathon is an event, typically lasting multiple days, in which a large number of people meet to collaboratively build out their ideas using technology.
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title Who can attend?
                .card-text.sd-card__text Any college or high school students over 18 years of age from anywhere in the world are eligible. This includes graduate students, but be sure to understand any agreements you’ve made with your university with regards to research and IP. If you are enrolled at a UC campus but not yet 18, you are also eligible to participate.
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title When should I show up and when should I leave?
                .card-text.sd-card__text You should plan to arrive at the hackathon late Friday (Oct 20th) evening and to leave early Sunday (Oct 22nd) afternoon. A detailed schedule will be released closer to the event date.
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title What should I bring?
                .card-text.sd-card__text Bring your student ID, computer, any external peripherals you may need (chargers, monitors, etc.), any other hardware that you definitely plan on using, and an open mind. Also bring a change of clothes, a toothbrush, and any other toiletries you may need. You may also bring a sleeping bag if you plan to nap.
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title What if I don't have a team?
                .card-text.sd-card__text  We will host a team formation event at the beginning of the hackathon so that no one has to hack alone (unless they want to). We allow teams of up to four hackers. If you do have a team, we will do our best to accept you all. Make sure ALL members apply and include all other members’ addresses in their applications. 
        .col-md-6
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title How do I get there?
                .card-text.sd-card__text We will send buses to most - if not all - undergraduate UC campuses. Unfortunately, we will not be able to provide any reimbursements to those traveling from outside of California.
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title Do I have to pay to get in?
                .card-text.sd-card__text Nope!
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title How can I help?
                .card-text.sd-card__text Please email us at #[a.sd-link__underline(target='_blank' href='mailto:hello@sdhacks.io') hello@sdhacks.io] if you have a question not listed here or if you’re interested in helping out!
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title Are there any rules?
                .card-text.sd-card__text As a Major League Hacking member event, we are adopting Major League Hacking’s #[a.sd-link__underline(href='http://static.mlh.io/docs/mlh-code-of-conduct.pdf' target='_blank') Code of Conduct] which requires you to respect others and help us keep SD Hacks a safe space for everyone. If you want your project to be considered for an award, you may only submit work that your team wrote during the hackathon.
          .sd-card__wrapper
            .card.sd-card.sd-card__faq
              .card-body.sd-card__block
                h4.card-title.sd-card__title Do I have to pay for parking?
                .card-text.sd-card__text Yes, parking permits are $2 per hr on Friday evening up to 11pm. After 11pm on Friday, parking is free for the weekend. The closest parking to RIMAC Arena is the #[a.sd-link__underline(href='https://www.google.com/maps/place/Hopkins+Parking+Structure/@32.8836008,-117.2419505,17z/data=!3m1!4b1!4m5!3m4!1s0x80dc06c1e6156103:0xc6690b999c002d97!8m2!3d32.8835963!4d-117.2397618' target='_blank') Hopkins Parking Structure].

  .sd-section.sd-sponsors#sd-sponsors
    .sd-sponsors__background
    h2.sd-faq__title.sd-section__title Sponsors
    .container.text-center
      .sd-section__subtitle.sd-sponsors__subtitle Interested in sponsoring? Email us at #[a.sd-link__underline(href='mailto:sponsor@tesc.ucsd.edu') sponsor@tesc.ucsd.edu]
      .sd-sponsors__platinum
        .sd-sponsors__img
          a.sd-link__img(target='_blank' href='https://viasat.com')
            img.sd-sponsors__sponsor.sd-sponsors__sponsor-viasat(src='/assets/img/sponsors/viasat.png')
      .sd-sponsors__silver
        .sd-sponsors__img
          a.sd-link__img(target='_blank' href='https://www.docusign.com')
            img.sd-sponsors__sponsor.sd-sponsors__sponsor-docusign(src='/assets/img/sponsors/docusign.png')
        .sd-sponsors__img
          a.sd-link__img(target='_blank' href='https://www.ltsnet.net/')
            img.sd-sponsors__sponsor.sd-sponsors__sponsor-lts(src='/assets/img/sponsors/lts.png')
      .sd-sponsors__bronze
        .sd-sponsors__img
          a.sd-link__img(target='_blank' href='https://e8security.com')
            img.sd-sponsors__sponsor.sd-sponsors__sponsor-e8(src='/assets/img/sponsors/e8.png')
        .sd-sponsors__img
          a.sd-link__img(target='_blank' href='https://a16z.com')
            img.sd-sponsors__sponsor.sd-sponsors__sponsor-a16z(src='/assets/img/sponsors/a16z.png')
        .sd-sponsors__img
          a.sd-link__img(target='_blank' href='https://www.att.com/')
            img.sd-sponsors__sponsor.sd-sponsors__sponsor-att(src='/assets/img/sponsors/att.png')

  .sd-footer#sd-footer
    .container.w-100
      .row.flex-md-row.d-md-flex.justify-content-md-between
        .sd-footer__social.col-md-6.text-md-left
          a.sd-link__icon(target='_blank' href='https://www.facebook.com/SDHacks/')
            i.fa.fa-facebook-square
          a.sd-link__icon(target='_blank' href='mailto:hello@sdhacks.io')
            i.fa.fa-envelope
          a.sd-link__icon(target='_blank' href='https://twitter.com/sdhacks')
            i.fa.fa-twitter
        .col-md-6
          .sd-footer__tesc.text-md-right
            a.sd-link__icon(target='_blank' href='http://tesc.ucsd.edu')
              img.sd-footer__tesc-img(src='/assets/img/site/logo-tesc-white.svg')

  a(id="mlh-trust-badge" style="border:none;display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=white" target="_blank")
    img(src="/assets/img/vectors/mlh.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%")
